# Dependency directories
node_modules/

# Test coverage
coverage
*.lcov

# claude worktrees
.claude/worktrees/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
.vercel

# OS-specific
.DS_Store

tmp

